body {
    background-color: #ffff;
}

#wrapper h1 {
    margin-left: 700px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* #wrapper aside {
    position: absolute;
    top: 100px;
    right: 0;
    width: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

#wrapper article {
    margin-left: 500px;
    margin-top: 10px;
    width: 40%;
    
}

#wrapper .right-content h2 {
    margin-left: 700px;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #485563;
    font-size: 24px;
}

#wrapper .right-content video {
    width: 30%;
    margin-bottom: 30px;
    margin-left: 550px;
    margin-top: 60px; /* Adjust this value to move the video down */
}

#wrapper .right-content button {
    padding: 10px 20px;
    margin-left: 550px;
    background-color: #485563;
    color: white;
    border: none;
    cursor: pointer;
}

#wrapper .right-content button:hover {
    background-color: palevioletred;
}

figure {
    display: flex;
    align-items: center;
}

