h2 {
    font-size: large;
    margin-top: 200px;
    margin-left: 400px;
    width: 50%;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

h1 {
    margin-left: 400px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
