body {
    width: 100%;
    margin: auto;
    overflow-y: auto;
}


aside 
{
    background-color: #FFD9C2;
    float: right;
    width: 200px;
    padding: 5px;
    margin: 5px;
}

.project-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 210px;
}

figure {
    width: 320px;
}

img {
    width: 100%
}

.slideshow, .frame {
    position: relative;
    height: 500px;
    width: 500px;
    margin: auto;
    margin: 20px auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


.slide {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 5s;
}

.show:checked+.slide {
    opacity: 1;
}

.button {
    display: inline-block;
}

input {
    display: none;
}

.button-label {
    font-size: 1rem;
    background: #485563;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    text-align: center;
    color: white;
    cursor: pointer
    transition background 2s, color 2s;

}

.button-label:hover {
    background: palevioletred;
}
