<!--footer-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="navbar-text">&copy; Copyright 2024. All rights reserved.</h6>
    <!--added a link of my github to the footer, white ensures that users can see it properly and also try to click -->
    <h6 class="navbar-text">GitHub: <a href="https://github.com/AymanN670" target="_blank" style="color: #ffffff; text-decoration: none;">AymanN670</a></h6>
  </nav>
</footer>


