  <%- include Partials/header.ejs %>
  <%- include Partials/main_nav.ejs %>
  <!-- linked to stylesheet from Content/about.css-->
  
  <link rel="stylesheet" type="text/css" href="Content/about.css"> 

<!--added in my html file part in here-->
<div id="wrapper">
    <h1>About Me</h1>

    <article>
            <h5>Hi, my name is Ayman Najmuddin and I am a student at Ontario Tech University. I'm studying in the IT Networking and Security Program. 
                I previously worked at an IT Service Desk where I gained experience with the Active Directory and troubleshooting. 
            </h5>
    </article>

    <div class="right-content">
        <h2>Introduction Video</h2>
        
        <video width="360" height="220" controls poster="Assets/images/introduction.png" autoplay muted id="introvid">
            <source src="Assets/images/intro.mp4" type="video/mp4">
            <source src="Assets/images/intro.ogv" type="video/ogg">
        </video>

        <br>
        <button onclick="PlayPause()">Play/Pause Button</button>

        <script>
            var mybtn = document.getElementById("introvid");
            function PlayPause() {
                if (mybtn.paused)
                    mybtn.play();
                else
                    mybtn.pause();
            }
        </script>

    </div>
</div>

<%- include Partials/footer.ejs %>


