  <%- include Partials/header.ejs %>
  <%- include Partials/main_nav.ejs %>

<div id="wrapper">
    <h1>About Me</h1>

    <img src="coding.png" alt="Bit image">

    <article>
        <aside>
            <p>Hi, my name is Ayman Najmuddin and I am a student at Ontario Tech University. I'm studying in the IT Networking and Security Program. 
                I previously worked at an IT Service Desk where I gained experience with the Active Directory and troubleshooting. 
            </p>
        </aside>
    </article>

    <div class="right-content">
        <h2>Introduction Video</h2>
        
        <video width="360" height="220" controls poster="introduction.png" autoplay muted id="introvid">
            <source src="intro.mp4" type="video/mp4">
            <source src="intro.ogv" type="video/ogg">
        </video>

        <br>
        <button onclick="PlayPause()">Play/Pause Button</button>

        <script>
            var mybtn = document.getElementById("introvid");
            function PlayPause() {
                if (mybtn.paused)
                    mybtn.play();
                else
                    mybtn.pause();
            }
        </script>
    </div>
</div>

<%- include Partials/footer.ejs %>


