  <%- include Partials/header.ejs %>
  <%- include Partials/main_nav.ejs %>
  <!--Main Content-->
  <h2> Hi, my name is Ayman</h2>
  <h1> Welcome to my Webpage</h1>
    
<%- include Partials/footer.ejs %>